
		@media (min-width: 1200px ){

			/*FOOTER*/
			/*centrar todo el footer en el medio y en columna*/
			
			footer{
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: #333333;
				height:300px;
			}

			/*Tama単o y centrado de logo del footer. */
			.logo_footer{
				display: flex;
				justify-content: center;
				
			}

			.tama単o_logo_footer{
				height: 70px;
				width: 130px;
				border-radius: 20px;
			}



			/*Estilos para poner las foto de redes en el medio del bloque*/
			.fotoredes{
				display: flex;
				justify-content: center;
				
			}
			/*Tama単o de los logos del footer */
			.tama単o_foto_redes{
				width: 50px;
				height: 50px;
			}

			/*Texto del footer para centrarlo */
			.creador{
				margin-top: 5px; 
				display: flex;
				justify-content: center;
				color: gray;
			}
}