
			
		@media (min-width: 1200px ){
			/*Estilos para el navegador*/

			nav a{
				color: white;
			}

			


			nav a:hover{
				transition: 0.5S;
				color: red;
			}

			.cabecera img{
				width: 100%;
				height: 350px;
				
				border-radius: 0px;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;

			}

			.cabecera{
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
			}

			nav{
				background-color: black
				height: 50px;
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				
				box-shadow: 0px 0px 5px 5px;


			}

			nav a{
				
				font-size: 2em;
				background-color: black;
				

			}

			.vectores{
				height: 30px;
				width:30px;
				margin-left: 35px; 
				box-shadow: 0px 0px 0px 0px;
			}

		.fondonav{
			background-color: black;

		}
}
		