
			
		@media (max-width: 1200px ) {
			/*Tamaño por defecto de la simagenes */
			
			
			.imagen_cv{
					width: 690px;
					height: 1032px;
					border-radius: 5px;
					box-shadow: 0px 0px 15px 2px;
								}

			.img_movil{

				width: 630px;
				height: 350px;
				/* primero es derecha Segundo es bottom , tercero es el difuminado , cuarto aumenta el rango*/
				box-shadow: 5px 5px 15px 1px;
				border-radius: 5px;

			}


			/*Articulo cv */
			.articulo1{
				margin-top: 130px; 
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 60px;
				z-index: 1;

			}


			

			


			.cabecera img{
				width: 100%;
				height: 300px;
				
				border-radius: 0px;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;

			}

			.cabecera{
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
			}
			

			/*Titulos */
			h1{
				color: black;
				text-decoration: underline;
				font-size: 1.5em;
			}

			
			/*Los articulos es la 1º y 2º  secciones de inicio*/
			.inicio_articulo1{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 5%;
				margin-top: 10%;
			}

			.inicio_articulo2{
				margin-top: 2%;
				display: flex;
				flex-direction: column-reverse;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 5%;

			}

			.inicio_articulo3{
				margin-top: 2%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 5%;
			}

			/* Bloque que pertenece al articulo 1 */
			.inicio_bloque1{
				display: none;
				margin-top: 3%;
				position: relative;
				background-color: black;
				height: 370px;
				width:520px;
				border-radius: 5px;
				
			}
			/* Bloque que pertenece al articulo 1 */
			.inicio_bloque1hijo{
				display: none;
				position: absolute;
				top: 40px;
				left: 30px;
				
				
			}
			/* Bloque que pertenece al articulo 2 */
			.inicio_bloque2{
				display: none;
				margin-top: 3%;
				position: relative;
				background-color: black;
				height: 370px;
				width:520px;
				border-radius: 5px;
				
			}
			/* Bloque que pertenece al articulo 2 */
			.inicio_bloque2hijo{
				display: none;
				position: absolute;
				top: 40px;
				right: 20px;
				
			}

			.inicio_bloque3{
				display: none;
				margin-top: 3%;
				position: relative;
				background-color: black;
				height: 370px;
				width:520px;
				border-radius: 5px;
			}

			.inicio_bloque3hijo{
				display: none;
				position: absolute;
				top: 40px;
				right: 20px;
			}

			
		

			/* Este es los estilos de los textos de inicio en fila de dos */
			.inicio_texto_row{
				margin-top: 60px;
				width: 85%;
				font-size: 1.2em;
				text-align: justify;
			}
			/* Este es los estilos de los textos de inicio en columna */
			.inicio_texto_column{
				margin-top: 60px;
				width: 85%;
				font-size: 1.2em;
				text-align: justify;
			}

		

			/*FOOTER*/
			/*centrar todo el footer en el medio y en columna*/
			
			footer{
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: #333333;
				height:300px;
			}

			/*Tamaño y centrado de logo del footer. */
			.logo_footer{
				display: flex;
				justify-content: center;
				
			}

			.tamaño_logo_footer{
				height: 125px;
				width: 150px;
				border-radius: 5px;
			}



			/*Estilos para poner las foto de redes en el medio del bloque*/
			.fotoredes{
				display: flex;
				justify-content: center;
				
			}
			/*Tamaño de los logos del footer */
			.tamaño_foto_redes{
				width: 50px;
				height: 50px;
			}

			/*Texto del footer para centrarlo */
			.creador{
				display: flex;
				justify-content: center;
				color: gray;
				font-size: 1.5em;
				border-radius: 5px;
			}

				
				.fondonav{
					display: none;
				}
			

		}
